@model List<Lab27Tom.Models.LFG>

@{
    Layout = "_Layout";
}

<div class="guardian-title">
    <h1>Guardian LFG</h1>
    <h2>Find your perfect fireteam and get that loot!</h2>

    <img src="~/img/destiny22.png" />
</div>


@foreach (var item in Model)
{
    <div class="lfg-content">
        <h3>@item.Gamertag</h3>
        <h4>@item.DestinyClass</h4>
        <p>@item.Request</p>
    </div>
}
